<!DOCTYPE html>
<html>
  <head>
    <title>@</title>
  </head>
  <body>
    <div class="container">
      <div class="field">
        <p><label for="injection">Injected html/css</label></p>
        <textarea id="injection" rows="10">

        </textarea>
      </div>
      <div class="field">
        <div class="half">
          <div class="response"></div>
        </div>
        <div class="half">
          <button class="save-options">Save options</button>
        </div>
      </div>
    </div>
  </body>
</html>
